<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <snowflake>
            <general>
                <enable>0</enable>
                <icon backend_model="Opengento\Snowflake\Model\Config\Backend\EmojiConverter">"\u2744"</icon>
                <vspeed>0.75</vspeed>
                <hspeed>0.75</hspeed>
                <qty>70</qty>
                <min_size>8</min_size>
                <max_size>36</max_size>
                <rotspeed>6</rotspeed>
                <rotspeed>6</rotspeed>
            </general>
            <api>
                <force>0</force>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <ip_info_api_url>https://ipinfo.io/json</ip_info_api_url>
            </api>
        </snowflake>
    </default>
</config>
