<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <tab id="opengento" translate="label" sortOrder="10">
        <label>Opengento</label>
    </tab>
    <section id="snowflake" translate="label" sortOrder="2022" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>❄️ Snowflake</label>
        <tab>opengento</tab>
        <resource>Opengento_Snowflake::config</resource>
        <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>General Configuration</label>
            <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Module Enable</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="icon" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Icon</label>
                <comment>Icon to display as a snowflake</comment>
            </field>
            <field id="hspeed" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Horizontal Speed</label>
                <comment>Positive value to go right, negatives values to go left</comment>
            </field>
            <field id="vspeed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Vertical Speed</label>
                <comment>Positive value to fall down, negatives values to ascend</comment>
            </field>
        </group>
    </section>
</system>
</config>
